@model IEnumerable<InternshipManagementSystemWeb.ViewModels.InternshipFormViewModel>
@{
    /**/

    ViewBag.Title = "Internship Forms";
}
<h2>Internship Forms</h2>

<div class="form-group">
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <span>
            <input type="button" value="Add New Form" onclick="location.href='@Url.Action("Create", "InternshipForm")';" class="btn btn-default" />
        </span>
    }
</div>

    @foreach (var item in Model)
    {
        <fieldset class="fieldset-border">
            <div>
                <div>
                    <strong>
                        @Html.DisplayFor(modelItem => item.Name)
                    </strong>
                </div>

                @*<div>
                        @Html.DisplayFor(modelItem => item.FormPath)
                    </div>*@
            </div>

            <div class="form-group">
                <a href="@Url.Content(item.FormPath)" class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Download</a>
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <span>
                        <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "InternshipForm", new { id = item.InternshipFormId })';" class="btn btn-default" />
                        <input type="button" value="Details" onclick="location.href='@Url.Action("Details", "InternshipForm", new { id = item.InternshipFormId })';" class="btn btn-default" />
                        <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "InternshipForm", new { id = item.InternshipFormId })';" class="btn btn-danger" />
                    </span>
                }
            </div>
        </fieldset>
    }
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#formsTable').DataTable({

                "scrollY": "80px",
                "scrollCollapse": true,
                "paging": false,

                "columnDefs": [
                    { "orderable": false, "targets": -1 }
                ]
            });
        });
    </script>
}
