<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Internship Management System</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>

                <p class="navbar-brand" href="#">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Content/themes/base/images/imagec4f21d.PNG" height="60" width="60" class="img-responsive center-block" alt=""/>
                    </a>
                </p>

                @Html.ActionLink("Internship Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                      <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (ViewContext.HttpContext.User.IsInRole("Student") || ViewContext.HttpContext.User.IsInRole("DepartmentHead"))
                     {
                        <li>@Html.ActionLink("Announcements", "Index", "Announcement")</li>
                        @*<li>@Html.ActionLink("Student Profile", "Details", "Student")</li>*@
                        <li>@Html.ActionLink("Companies", "Index", "Firm")</li>
                        <li>@Html.ActionLink("Complain", "Index", "Complain")</li>
                        <li>@Html.ActionLink("Attendance", "Index", "Attendance")</li>
                     }

                    @if (ViewContext.HttpContext.User.IsInRole("Instructor"))
                     {
                        <li>@Html.ActionLink("Profile", "Details", "Employee")</li>
                        <li>@Html.ActionLink("Sections", "Index", "Section")</li>
                        <li>@Html.ActionLink("Meeting", "Index", "Firm")</li>
                        <li>@Html.ActionLink("Internship", "Index", "InternshipCourse")</li>
                     }

                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                     {
                         <li>@Html.ActionLink("Announcement", "Index", "Announcement")</li>
                         <li>@Html.ActionLink("Complain", "Index", "Complain")</li>
                         <li>@Html.ActionLink("Companies", "Index", "Firm")</li>
                         @*<li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                         <li>@Html.ActionLink("Students", "Index", "Student")</li>
                         <li>@Html.ActionLink("Forms", "Index", "InternshipForm")</li>*@
                     }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Internship Management System | @Html.ActionLink("Contact Internship Department", "Contact") | @Html.ActionLink("Dar Al-Hekma University Website", "http://www.dah.edu.sa/") | @Html.ActionLink("Student Information System", "https://web.dah.edu.sa:82/sis/") | @Html.ActionLink("Help", "Contact")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>