@model InternshipManagementSystemWeb.ViewModels.InternshipCourseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Courses</h2>

<div>
    <h4>Course Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.InternshipCourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternshipCourseId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to Courses", "Index") |

    @* Replace with  List of supervisors in this firm *@
    @Ajax.ActionLink("Sections", "ListSectionsPartial", new { id = Model.InternshipCourseId }, 
    new AjaxOptions { UpdateTargetId = "SectionList", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })

</p>
<div id="SectionList"></div>