@model IEnumerable<InternshipManagementSystemWeb.ViewModels.InternshipCourseViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Couses</h2>

<p>
    @Html.ActionLink("Add a New Course", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InternshipCourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InternshipCourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InternshipCourseId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InternshipCourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InternshipCourseId })
        </td>
    </tr>
}

</table>
