@model IEnumerable<InternshipManagementSystemWeb.ViewModels.FirmViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Companies</h2>

<p>
    @Html.ActionLink("Add a New Company", "Create")
</p>

@foreach (var item in Model) {
    <div>
        @*<td>
            @Html.DisplayFor(modelItem => item.FirmId)
        </td>*@
        <div>
            @Html.DisplayFor(modelItem => item.FirmName)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Address)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.NumberOfVacencies)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.IndustryField)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Logo)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.FirmDescription)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.MapLink)
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.FirmId }) |
            @Html.ActionLink("Details", "Details", new { id = item.FirmId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FirmId })
        </div>
    </div>
}
