@model IEnumerable<InternshipManagementSystemWeb.ViewModels.FirmViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Companies</h2>

<div class="form-group">
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <span>
            <input type="button" value="Add New Company" onclick="location.href='@Url.Action("Create", "Firm")';" class="btn btn-default" />
        </span>
    }
</div>

@foreach (var item in Model) 
    {<fieldset class="fieldset-border" >

    <div>
        @*<td>
            @Html.DisplayFor(modelItem => item.FirmId)
        </td>*@
        <div>
            @Html.DisplayFor(modelItem => item.FirmName)
        </div>
        @*<div>
            @Html.DisplayFor(modelItem => item.Address)
        </div>*@
        <div>
            <p> Vacancies: @Html.DisplayFor(modelItem => item.NumberOfVacencies)  </p>
        </div>
        <div>
            <p> Industry Field: @Html.DisplayFor(modelItem => item.IndustryField) </p>
</div>
        <div>
            @Html.DisplayFor(modelItem => item.Logo)
        </div>
        @*<div>
            @Html.DisplayFor(modelItem => item.FirmDescription)
        </div>*@
        
        <div>         
    </div>
          <div class="form-group">
                 @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                 {
              <span>
                  <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Firm", new { id = item.FirmId })';" class="btn btn-default" />
                  <input type="button" value="Details" onclick="location.href='@Url.Action("Details", "Firm", new { id = item.FirmId })';" class="btn btn-default" />
                  <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Firm", new { id = item.FirmId })';" class="btn btn-default" />
                  <input type="button" value="Supervisors" onclick="location.href='@Url.Action("Details", "Supervisor", new { id = item.FirmId })';" class="btn btn-default" />
              </span>
                 }

                 @if (ViewContext.HttpContext.User.IsInRole("Student"))
                 {
                <span>
                    <input type="button" value="Details" onclick="location.href='@Url.Action("Details", "Firm", new { id = item.FirmId })';" class="btn btn-default" />
                    <input type="button" value="Supervisors" onclick="location.href='@Url.Action("Details", "Supervisor", new { id = item.FirmId })';" class="btn btn-default" />
                </span>
                 }

                  @if (ViewContext.HttpContext.User.IsInRole("Instructor"))
                 {
                <span>
                    <input type="button" value="Details" onclick="location.href='@Url.Action("Details", "Firm", new { id = item.FirmId })';" class="btn btn-default" />
                </span>
                 }
            </div>
    </div>
    </fieldset>
    }
