@model InternshipManagementSystemWeb.ViewModels.AttendanceViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Attendance</h2>

<h3>Are you sure you want to delete this log?</h3>
<div>
    @*<h4>AttendanceViewModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.AttendanceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAttendance)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Attendance", "Index")
        </div>
    }
</div>
