@model IEnumerable<InternshipManagementSystemWeb.ViewModels.VisitOnSiteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Site Visits</h2>

<p>
    @Html.ActionLink("Log a New Visit", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.VisitOnSiteId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Feedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.InstructorId)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.VisitOnSiteId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.InstructorId)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.VisitOnSiteId }) |
            @Html.ActionLink("Details", "Details", new { id = item.VisitOnSiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VisitOnSiteId })
        </td>
    </tr>
}

</table>
