@model InternshipManagementSystemWeb.ViewModels.AnnouncementViewModel

@{
    ViewBag.Title = "Announcemet Details";
}

<h2>Announcements</h2>

<div>
    @*<h4>Announcement Details</h4>*@
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnouncementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnouncementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
        <span>
            <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Announcement")';" class="btn btn-default" />
        </span>
</div>
