@model IEnumerable<InternshipManagementSystemWeb.ViewModels.AnnouncementViewModel>

@{
    ViewBag.Title = "Announcements";
}

<h2>Announcements</h2>

<p>
    @Html.ActionLink("Create New Announcement", "Create")
</p>

@foreach (var item in Model) {
    <div>
        @*<div>
            @Html.DisplayFor(modelItem => item.AnnouncementId)
        </div>*@
        <div>
            @Html.DisplayFor(modelItem => item.Subject)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.AnnouncementDate)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.AnnouncementId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AnnouncementId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AnnouncementId })
        </div>
    </div>
}
