@model InternshipManagementSystemWeb.ViewModels.SectionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Sections</h2>

<div>
    <h4>Section Details</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IntrenshipCourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntrenshipCourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorId)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to Section", "Index")
</p>
