@model IEnumerable<InternshipManagementSystemWeb.ViewModels.ComplainViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Complains</h2>

<p>
    @Html.ActionLink("Submit New Complain", "Create")
</p>

@foreach (var item in Model) {
    <div>
        @*<td>
            @Html.DisplayFor(modelItem => item.ComplainId)
        </td>*@
        <div>
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </div>
        @*<td>
            @Html.DisplayFor(modelItem => item.ReplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>*@
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = item.ComplainId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ComplainId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ComplainId })
        </div>
    </div>
}
