@model IEnumerable<InternshipManagementSystemWeb.ViewModels.ComplainViewModel>

@{
    ViewBag.Title = "Complains";
}

<h2>Complains</h2>

<div class="form-group">
    @if (ViewContext.HttpContext.User.IsInRole("Student"))
    {
        <span>
            <input type="button" value="Submit New Complain" onclick="location.href='@Url.Action("Create", "Complain")';" class="btn btn-default" />
        </span>
    }
</div>

@foreach (var item in Model) {
    <fieldset class="fieldset-border" >
    <div>
        @*<td>
            @Html.DisplayFor(modelItem => item.ComplainId)
        </td>*@
        <div>
            @Html.DisplayFor(modelItem => item.Title)
        </div>

        <div>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </div>
        @*<td>
            @Html.DisplayFor(modelItem => item.ReplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>*@

         <div class="form-group">
                 @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                 {
                <span>
                    <input type="button" value="Details" onclick="location.href='@Url.Action("Details", "Complain", new { id = item.ComplainId })';" class="btn btn-default" />
                </span>
                 }

                 @if (ViewContext.HttpContext.User.IsInRole("Student"))
                 {
                <span>
                     <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Complain", new { id = item.ComplainId })';" class="btn btn-default" />
                     <input type="button" value="Details" onclick="location.href='@Url.Action("Details", "Complain", new { id = item.ComplainId })';" class="btn btn-default" />
                     <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Complain", new { id = item.ComplainId })';" class="btn btn-default" />
                </span>
                 }
            </div>
        </div>
</fieldset>
}
